#news-list{
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 80%;
  background-color: var(--td-ci-news-list-bg:);
  box-sizing: border-box;
}

#news-details{ 
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  background-color: var(--td-ci-news-details-bg);
  box-sizing: border-box;
}


